<div class="container shadow p-3 my-1 bg-body rounded course-item">
  <div class="row justify-content-between align-items-baseline mx-4">
    <div class="col-md-4">
      <h2>{{ course.name | uppercase }}{{ 'COURSES.course' | translate}}
        <span><i [ngClass]="{ isStarNotShown: !course.isTopRated}" [ngStyle]="{ 'color': 'gold'}"  class="bi bi-star-fill"></i></span>
      </h2>
    </div>
    <div class="col-md-4 d-flex justify-content-end p-0">
      <div class="col-md-3 d-flex justify-content-end align-items-baseline ms-2">
        <img src="../../../../../assets/icon/clock.svg" alt="clock-icon">
        <p class="ms-1">{{ course.length| duration }}</p>
      </div>
      <div class="col-md-3 d-flex justify-content-end align-items-baseline ms-2">
        <img src="../../../../../assets/icon/calendar.svg" alt="calendar-icon">
        <p class="ms-1">{{ course?.date | date }}</p>
      </div>
    </div>
  </div>
  <div class="row mx-4">
    <div class="col-md-10">
      <p>{{ course?.description }}</p>
    </div>
    <div class="col-md-2 d-flex">
      <div class="col-md-6">
        <app-button
          [buttonText]="'COURSES.edit' | translate"
          iconSrc="../../../../../assets/icon/pencil.svg"
          [buttonType]="buttonType"
          [buttonSize]="buttonSize"
          (click)="onEditCourse()"
        ></app-button>
      </div>
      <div class="col-md-6 ms-3">
        <app-button
          [buttonText]="'COURSES.delete' | translate"
          iconSrc="../../../../../assets/icon/trash.svg"
          [buttonType]="buttonType"
          [buttonSize]="buttonSize"
          (click)="onDeleteCourse()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
