<div class="container shadow p-3 my-5 bg-body rounded">
  <div class="row justify-content-between align-items-baseline mx-4">
    <div class="col-md-4">
      <h2>{{ course.title }}</h2>
    </div>
    <div class="col-md-4 d-flex justify-content-end p-0">
      <div class="col-md-3 d-flex justify-content-end align-items-baseline ms-2">
        <img src="../../../../../assets/icon/clock.svg" alt="clock-icon">
        <p class="ms-1">{{ course.duration }}</p>
      </div>
      <div class="col-md-3 d-flex justify-content-end align-items-baseline ms-2">
        <img src="../../../../../assets/icon/calendar.svg" alt="calendar-icon">
        <p class="ms-1">{{ course.creationDate | date }}</p>
      </div>
    </div>
  </div>
  <div class="row mx-4">
    <div class="col-md-10">
      <p>{{ course.description }}</p>
    </div>
    <div class="col-md-2 d-flex">
      <div class="col-md-6">
        <app-button
          buttonText="Edit"
          iconSrc="../../../../../assets/icon/pencil.svg"
          [buttonType]="buttonType"
          [buttonSize]="buttonSize"
        ></app-button>
      </div>
      <div class="col-md-6 ms-3">
        <app-button
          buttonText="Delete"
          iconSrc="../../../../../assets/icon/trash.svg"
          [buttonType]="buttonType"
          [buttonSize]="buttonSize"
        ></app-button>
      </div>
    </div>
  </div>
</div>
