<app-breadcrumbs></app-breadcrumbs>
<main class="courses__wrapper">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-between">
      <div class="col-md-4">
        <app-courses-serach
          (searchData)="onSearchData($event)"
        ></app-courses-serach>
      </div>
      <div class="col-md-2">
        <app-button
          [buttonText]="'COURSES.addCourse' | translate"
          iconSrc="../../../../../assets/icon/plus.svg"
          [buttonType]="buttonType.BLUE"
          [buttonSize]="buttonSize"
          (click)="onAddNewCourse()"
        >
        </app-button>
      </div>
    </div>
  </div>
  <div class="container courses__list"  *ngIf="courses$ | async as courses">
    <div class="row" *ngIf="courses.length; else empthyMessage">
      <app-course-item
        *ngFor="let course of courses; trackBy: trackById"
        [course]="course"
        (deleteCourse)="onDeleteCourse($event)"
        (editCourse)="onEditCourse($event)"
        >
    </app-course-item>
    </div>
    <div class="container courses__action">
      <app-button
      [buttonText]="'COURSES.loadMore' | translate"
      [buttonType]="buttonType.GREEN"
      [buttonSize]="buttonSize"
      (click)="loadMore()"
      ></app-button>
    </div>
  </div>
  <ng-template #empthyMessage>
    <div class="container d-flex justify-content-center">
      <div class="col-md-10 courses__empty-block">
        <p>{{ 'COURSES.emptyCourseList' | translate }}</p>
      </div>
    </div>
  </ng-template>
</main>

