<header class="header__wrapper">
  <div class="container">
    <nav class="navbar d-flex justify-content-md-between">
      <div class="col-md-6 my-3">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img src="../../../../assets/icon/logo.svg" alt="logo-play-circle" class="header__logo">
          <h1 class="header__text">Video Course</h1>
        </a>
      </div>
      <div class="col-md-4 d-flex justify-content-md-end">
        <div class="col-md-3 justify-content-md-end">
          <app-button
            buttonText="User Login"
            iconSrc="../../../../assets/icon/login.svg"
            [buttonType]="buttonType"
            [buttonSize]="buttonSize"
            (click)="onLog()"
          ></app-button>
        </div>
        <div class="col-md-3">
          <app-button
          buttonText="Log Out"
          iconSrc="../../../../assets/icon/logout.svg"
          [buttonType]="buttonType"
          [buttonSize]="buttonSize"
        ></app-button>
        </div>
      </div>
    </nav>
  </div>
</header>

