.header {
  &__wrapper {
    background: #303240;
    height: 80px;
  }

  &__text {
    font-size: 23px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
    padding-left: 0.5rem;
    font-weight: 700;
  }

  &__user {
    color: #FFFFFF;
    margin-right: 0.5rem;
  }
}

