<header class="header__wrapper">
  <div class="container">
    <nav class="navbar d-flex justify-content-md-between">
      <div class="col-md-6 m-3">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img src="../../../../assets/icon/logo.svg" alt="logo-play-circle" class="header__logo">
          <h1 class="header__text">Video Course</h1>
        </a>
      </div>
      <div class="col-md-4 d-flex justify-content-md-end m-3">
        <div class="col-md-3">
          <img src="../../../../assets/icon/login.svg" alt="login-icon">
          <button class="ms-1">Login</button>
        </div>
        <div class="col-md-3">
          <img src="../../../../assets/icon/logout.svg" alt="logout-icon">
          <button class="ms-1">Log Out</button>
        </div>
      </div>
    </nav>
  </div>
</header>

