.footer {
  &__wrapper {
    background: #303240;
    height: fit-content
  }

  &__text {
    line-height: 24px;
    letter-spacing: 0;
    color: #FFFFFF;
    font-size: 12px;
    text-transform: none;
    text-align: end;
  }
}
