<div class="row shadow-lg p-4 bg-white add-course-wrapper">
  <h2 class="mb-4">New course</h2>
  <form>
    <div class="gx-0">
      <label for="title"><b>Title:</b></label>
      <input id="title" type="text" placeholder="Text input" name="title" required>
      <label for="description"><b>Description:</b></label>
      <textarea id="description" type="text" rows="5" placeholder="Add description" name="description" required></textarea>
      <label for="duration"><b>Duration:</b></label>
      <input id="duration" type="number" placeholder="minutes" name="duration" required>
      <label for="date"><b>Duration:</b></label>
      <input id="date" type="date" placeholder="" name="date" required>
      <label for="authors"><b>Authors:</b></label>
      <input id="authors" type="text" placeholder="Start typing" name="authors" required>
    </div>
    <div class="save-btn-container mt-3">
      <button class="cancel-btn" type="button">Cancel</button>
      <button class="save-btn" type="submit">Save</button>
    </div>
  </form>
</div>
